body, h1, p {
  margin: 0;
  padding: 0;
  border: 0;
}

#preloader {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

body #preloader {
  background-color: rgb(230, 235, 240);
}

#container {
  position: relative;
  width: 160px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#container h1 {
  color: #eb5234;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-align: center;
}

#inscription {
  width: 13ch;
  display: flex;
}

#inscription i {
  color: black;
  padding-right: 0.1rem; 
  padding-left: 0.7rem; 
  font-size: 1.1rem;
  font-family: monospace;
}

#inscription span {
  color: black;
  font-family: monospace;
  width: 4ch;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  animation: slashes 4s steps(4) infinite;
}

@keyframes slashes {
  0% { width: 0; }
}
