#drop-box {
  width: 500px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#drop-box.active {
  background-color: rgb(200, 240, 200);
}

#info-location {
  margin-top: 30%;
  margin-left: -10px;
  align-self: center;
  font-size: 1.5rem;
  color: grey;
  font-family: sans-serif; 
}

.label_input-file {
  font-size: 1rem;
}

.form_input-file {
  height: 100px;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload, .form_input-file input {
  cursor: pointer;
  padding-top: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  font-family: monospace;
  outline: 0;
}
