html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre,
a, address, em, img, strong, form, label, table, article, aside,
canvas, figure, figcaption, footer, header, nav, section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: 100;
   vertical-align: baseline;
}

a { text-decoration: none; }

p {
   text-indent: 1.5rem;
   text-align: justify;
}

p, h2, h3 {
   font-size: 1.2rem;
   font-family: monospace;
}

li {
   list-style-type: none;
}

ul {
   margin: 0;
   padding: 0;
   width: max-content;
}

article, aside, figcaption, figure, footer, header, nav, section {
   display: block;
}

html, body, #page {
   width: 100vw;
   height: 100vh;
}

#page {
   visibility: hidden;
   position: absolute;
}

* {
   user-select: none;
}

#page.done {
   visibility: visible;
}
