#page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(230, 235, 240);
}

#page header {
  margin-top: 2rem;
  padding: 1rem;
  align-self: center;
  border: 1px solid #fc4503;
  border-radius: 10px;
}

#page header h1 {
  font-size: 2rem;
}

#middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#page footer {
  padding: 1rem;
  align-self: flex-end;
}
